.banner {
  &__title {
    @apply text-[40px] leading-[1.1] md:text-[96px] md:leading-[1.2] font-semibold text-center text-white;
  }

  &__container {
    @apply max-w-[1440px] w-full mx-auto px-4 md:px-8 py-[20px] min-h-[clamp(760px,100vh,120vh)] relative z-[2];
  }

  &__bg {
    @apply -mt-[26px] relative;
    background-image: url("../../assets/svg/banner-shape.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 768px) {
      background: none;
    }
  }

  &__mobile__shape {
    &--top {
      @apply md:hidden absolute top-[90px] w-full h-[420px];

      background-image: url("../../assets/svg/shape-mobile-top.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    
    &--bottom {
      @apply md:hidden absolute bottom-0 left-[30px] w-full h-[280px];

      background-image: url("../../assets/svg/shape-mobile-bottom.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__right__content {
    &--top {
      @apply hidden md:flex absolute top-0 right-0 w-[42%] h-[50%] z-[1] min-w-[320px];

      background-image: url("../../assets/svg/guitar.svg");
      background-repeat: no-repeat;
      background-size: clamp(250px, 80%, 80%);
      background-position: right;
      transform: translateY(25px);

      @media screen and (max-width: 992px) {
        background-size: clamp(180px, 80%, 80%);
        transform: translateY(-75px);
      }
    }

    &--bottom {
      @apply hidden md:flex absolute bottom-0 right-0 w-[calc(50%-300px)] h-[50%] min-w-[380px];

      background-image: url("../../assets/svg/banner-boy.svg");
      background-repeat: no-repeat;
      // background-size: clamp(180px, 40%, 350px);
      background-size: contain;
      background-position: right;
    }
  }

  &__left__content {
    &--top {
      @apply absolute top-0 left-20 w-[50%] h-[50%] z-[1] min-w-[320px];

      background-image: url("../../assets/svg/headphone.svg");
      background-repeat: no-repeat;
      background-size: clamp(180px, 40%, 40%);
      background-position: left;
      transform: translateY(25px);

      @media screen and (max-width: 768px) {
        background-size: contain;
        width: 160px;
        left: calc(50% - 80px);
        min-width: auto;
        transform: translateY(-40px);
      }
    }

    &--shape {
      @apply absolute top-0 left-[100px] w-[50%] h-[50%] min-w-[200px];

      background-image: url("../../assets/svg/message-shape.svg");
      background-repeat: no-repeat;
      background-size: clamp(180px, 40%, 40%);
      background-position: left;
      transform: translateY(85px);

      @media screen and (max-width: 768px) {
        background-size: contain;
        width: 140px;
        left: calc(50% - 70px);
        min-width: auto;
        transform: translate(10px, 0px);
      }
    }

    &--bottom {
      @apply absolute bottom-[-45px] left-0 w-[calc(50%-300px)] h-[50%] min-w-[380px];

      background-image: url("../../assets/svg/Group\ 12.svg");
      background-repeat: no-repeat;
      // background-size: clamp(180px, 40%, 350px);
      background-size: contain;
      background-position: left;

      @media screen and (max-width: 992px) {
        @apply bottom-[-95px];
      }

      @media screen and (max-width: 768px) {
        @apply bottom-[-100px] left-[calc(50%-140px)] min-w-[280px] w-[280px];
      }
    }
  }
}

.nav__dropdown {
  > button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #6033c0;

    svg {
      width: 15px;
    }

    path {
      fill: #fff;
    }
  }
}
