.banner__title {
  @apply text-[40px] leading-[1.1] md:text-[76px] md:leading-[1.2] font-semibold text-center text-white md:px-0 px-4;
}

.banner__container {
  @apply max-w-[1440px] flex flex-col w-full mx-auto px-4 md:px-8 py-[20px] min-h-[clamp(860px,100vh,120vh)] relative z-[2];
}

.banner__bg {
  @apply -mt-[26px] relative;
  background-image: url("../../assets/svg/banner-shape.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .banner__bg {
    background: none;
  }
}
.banner__mobile__shape--top {
  @apply md:hidden absolute top-[90px] w-full h-[420px];

  background-image: url("../../assets/svg/shape-mobile-top.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner__mobile__shape--bottom {
  @apply md:hidden absolute bottom-0 left-[30px] w-full h-[305px];

  background-image: url("../../assets/svg/shape-mobile-bottom.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.banner__right__content--top {
  @apply hidden md:flex absolute top-0 right-0 w-[42%] h-[50%] z-[1] min-w-[320px];

  background-image: url("../../assets/svg/guitar.png");
  background-repeat: no-repeat;
  background-size: clamp(250px, 80%, 80%);
  background-position: right;
  transform: translateY(25px);
}

@media screen and (max-width: 992px) {
  .banner__right__content--top {
    background-size: clamp(180px, 80%, 80%);
    transform: translateY(-75px);
  }
}

.banner__right__content--bottom {
  @apply hidden md:flex absolute bottom-0 right-0 w-[calc(50%-300px)] h-[50%] min-w-[380px];

  background-image: url("../../assets/svg/banner-boy.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.banner__left__content--top {
  @apply absolute top-0 left-20 w-[50%] h-[50%] z-[1] min-w-[320px];

  background-image: url("../../assets/svg/headphone.png");
  background-repeat: no-repeat;
  background-size: clamp(180px, 40%, 40%);
  background-position: left;
  transform: translateY(25px);
}

@media screen and (max-width: 768px) {
  .banner__left__content--top {
    background-size: contain;
    width: 160px;
    left: calc(50% - 80px);
    min-width: auto;
    transform: translateY(-40px);
  }
}

.banner__left__content--shape {
  @apply absolute top-0 left-[100px] w-[50%] h-[50%] min-w-[200px];

  background-image: url("../../assets/svg/message-shape.svg");
  background-repeat: no-repeat;
  background-size: clamp(180px, 40%, 40%);
  background-position: left;
  transform: translateY(85px);
}

@media screen and (max-width: 768px) {
  .banner__left__content--shape {
    background-size: contain;
    width: 140px;
    left: calc(50% - 70px);
    min-width: auto;
    transform: translate(10px, 0px);
  }
}

.banner__left__content--bottom {
  @apply absolute bottom-[-45px] left-0 w-[calc(50%-300px)] h-[50%] min-w-[380px];

  background-image: url("../../assets/svg/banner-girl.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

@media screen and (max-width: 992px) {
  .banner__left__content--bottom {
    @apply bottom-[-95px];
  }
}

@media screen and (max-width: 768px) {
  .banner__left__content--bottom {
    @apply bottom-[-100px] left-[calc(50%-140px)] min-w-[280px] w-[280px];
  }
}

.nav__dropdown > button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #6033c0;
}

.nav__dropdown > button svg {
  width: 15px;
}

.nav__dropdown > button path {
  fill: #fff;
}

/* Wish Slider in Home Page */

.wish__slider__wrapper {
  position: relative;
  @apply max-w-[1440px] mx-auto w-full md:px-6;
}

.wish__slider__wrapper .swiper {
  @apply m-0 md:mx-[90px];
  overflow: hidden;
  padding-bottom: 72px;
}

.wish__slider__wrapper .swiper-pagination {
  @apply flex items-center justify-center !w-full;
}

.wish__slider__wrapper .swiper-pagination-bullet {
  @apply opacity-40 bg-white text-white w-[12px] h-[8px] transition-all !rounded;
}

.wish__slider__wrapper .swiper-pagination-bullet-active {
  @apply opacity-100 w-10;
}

.wish__slider__wrapper .swiper-wrapper {
  overflow: hidden;
}

.wish__slider {
  @apply rounded-[32px] bg-[#160046] flex md:flex-row flex-col p-4;
}

@media screen and (max-width: 768px) {
  .wish__slider {
    width: 290px;
    height: 100%;
  }
}

.wish__slider__left {
  @apply relative rounded-[24px] md:mr-6 md:mb-0 mb-4;
}

.wish__slider__image {
  @apply rounded-[24px] w-full h-auto md:w-[256px] md:h-[256px] object-cover;
}

.wish__slider__icon {
  @apply absolute bottom-0 md:top-0 left-0 md:right-0 border-[4px] border-solid border-[#160046] rounded-full w-12 h-12;
}

.wish__slider__right {
  @apply flex flex-col justify-between md:py-2 md:px-0 px-4 md:flex-auto flex-1;
}

.wish__slider__top {
  @apply flex flex-col gap-1;
}

.wish__slider__top--title {
  @apply text-[16px] font-semibold leading-[1.4] text-white;
}

.wish__slider__top--heading {
  @apply text-[24px] font-semibold leading-[1.2] text-white md:mt-0 md:mb-0 mt-1 mb-6;
}

.wish__slider__top--subtitle {
  @apply text-[14px] font-medium leading-[1.4] text-white opacity-[0.56];
}

.wish__slider__link {
  @apply text-[12px] font-semibold leading-[1.3] text-white tracking-[0.01em] cursor-pointer md:mt-0 mt-auto;
}

.wish__slider__wrapper :is(.wish__slider--prev, .wish__slider--next) {
  @apply absolute top-[calc(50%-52px)] bg-[#160046] rounded-[50%] w-12 h-12 hidden md:flex items-center justify-center opacity-100;
}

.wish__slider__wrapper .wish__slider--next {
  left: auto;
  right: 42px;
}

.wish__slider__wrapper .wish__slider--prev {
  left: 42px;
  right: auto;
}

.wish__slider__wrapper .wish__slider--prev::after {
  content: url("../../assets/svg/arrow-left.svg");
  color: white;
  font-size: initial;
  @apply flex items-center justify-center;
}

.wish__slider__wrapper .wish__slider--next::after {
  content: url("../../assets/svg/arrow-right.svg");
  color: white;
  font-size: initial;
  @apply flex items-center justify-center;
}

@media screen and (max-width: 768px) {
  .wish__slider__slide {
    width: auto !important;
    height: auto !important;
  }
}
